.faqPg {
  display: block;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding: 20px 50px;
    margin: auto;
    width: 70%;
  }
  
 .question {
  background-color: #9BDCF1;
 }
 .answer {
  background-color: #D3F2FC;
 } 