.footer {
    background-color: #DFF0EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 18px;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    bottom: 0px;
}

.footer p {
    margin: 0px;
}