.header {
    background-color: #DFF0EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header img {
    height: 50px;
    margin-right: 12px;
}

.logo-div {
    display: flex;
    align-items: center;
}

.nav-auth {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nav {
    margin-right: 12px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.signup {
    background-color: #EB4C2C;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
}

.login {
    background-color: transparent;
    border: none;
    padding-right: 0px;
}

a {
    text-decoration: none;
    color: black;
}
